@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  padding: 0;
  border-radius: 50%; 
  list-style: none;       
  
  > * {
    display: block;
    position: absolute;
    top:  50%; 
    left: 50%;
    width:  $item-size;
    height: $item-size;
    margin: -($item-size / 2);
  
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: 
          rotate($rot * 1deg) 
          translate($circle-size / 2) 
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

@mixin apply-spinner($item-count) {
    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        animation-delay: calc((#{$i} * 0.2s));
      }

      animation: spinner-animation calc(#{$item-count} * 200ms) infinite;
  }
}

@mixin apply-fade-in($item-count, $delay) {
  @for $i from 1 through $item-count {
    &:nth-of-type(#{$i}) {
      animation-delay: calc((((#{$i} * #{$item-count}) * 0.1s) / 2));
    }

    animation: fade-in 300ms ease-in forwards;
}
}

@keyframes spinner-animation {
  0% {
    opacity: 0.1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes spinner-fade-out {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes disable-scroll {
  0% {
    height: 100%;
    overflow-y: hidden;
  }
  100% {
    height: fit-content;
    overflow-y: unset;
  }
}

@mixin apply-fade-in-slide-in($item-count, $delay) {
  @for $i from 1 through $item-count {
    &:nth-of-type(#{$i}) {
      animation-delay: calc((((#{$i} * #{$delay}) * 0.1s) / 2));
    }

    animation: fade-in-slide-in 500ms forwards;
}
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slide-in {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}