@import "../globals.scss";
@import "../animations/animations.scss";

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow:0 2px 4px 0 $colorShadow_1;

  .back-arrow {
    position: absolute;
    left: 24px;
    transition: opacity 150ms ease-out;

    &:hover {
      opacity: 0.6;
    }
  }

  @include styleResponsive("desktop") {
    padding: 31px 0;
    height: 96px;
  }
  @include styleResponsive("smaller-desktop") {
    padding: 15px 0;
  }
}

.image-container {
  width: 100%;
  position: absolute;
  z-index: -999;
  align-items: center;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    scale: 1;
    object-fit: cover;
  }

  @include styleResponsive("desktop") {
    height: 383px;
    top: 96px;
  }
  @include styleResponsive("smaller-desktop") {
    height: 275px;
    top: 64px;
  }
}

.menu {
  display: flex;
  background-color: $colorGreyscale_6;
  max-width: 1055px;
  border-radius: 40px 40px 0 0;
  padding: 32px 16px 40px 16px;

  .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title-container {
      display: flex;
      gap: 24px;

      .heart {
        cursor: pointer;

        input {
          display: none;
        }

        // :has(input:checked) - For click
        &:hover {
          i {
            font-weight: bold;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
            background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
          }
        }
      }
      @include styleH("h2", $colorGreyscale_1, $font_2_bold);
      @include styleResponsive("desktop") {
        margin: 0 auto;
      }
      @include styleResponsive("wider-mobile") {
        margin: 0 auto;
      }
    }

    .menu-section {
      display: flex;
      gap: 12px;
      flex-direction: column;
      opacity: 0;
      @include apply-fade-in(4, 40);

      input {
        display: none;
      }

      .menu-title {
        margin:40px 0 12px 0;

        .title {
          line-height: 18px;
          font-weight: 300;
          @include styleH("h5");
        }

        .underline {
          margin-top: 6px;
          height: 3px;
          width: 40px;
          background-color: $colorPrimary_1;
        }
      }

      .menu-item {
        display: flex;
        border-radius: 15px;
        overflow: hidden;
        background-color: $colorGreyscale_5;
        box-shadow: 0px 4.01px 15.04px 0px #0000001A;

        .text-container {
          display: flex;
          flex-direction: column;
          padding: 14px 0 14px 14px;
          height: 69px;
          width: calc(100% - 114px);
          gap: 5px;
          flex-grow: 2;
          height: fit-content;


          .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 500;
            line-height: 21px;
            @include styleP('big');
          }

          .item-description {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 300;
            line-height: 17px;
            @include styleP("small");
          }
        }

        .price {
          position: relative;
          padding:0 15px 14px 15px;
          margin-top: auto;
          margin-left: auto;
          @include styleP("small");
        }

        .check {
          flex: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 0;
          color: $colorGreyscale_5;
          background-color: $colorPrimary_1;
          transition: flex 200ms ease-in-out;
        }

        @include styleResponsive("wider-mobile") {
          width: 634px;
        }
      }

      .menu-card {
        cursor: pointer;
        transform: translateY(-20px);
        opacity: 0;
        @include apply-fade-in-slide-in(200, 4);
      }

      // :has(input:checked) - For click
      .menu-card:hover {
        .check {
          flex: 0 60px;
        }
      }

      @include styleResponsive("wider-mobile") {
        margin: 0 auto;
      }

      @include styleResponsive("mobile") {
        width: 100%;
      }
    }

    .cta {
      position: relative;
      width: fit-content;
      margin: 40px auto 0 auto;
      cursor: pointer;
      border-radius: 25px;
      background: linear-gradient(193.33deg, $colorPrimary_5 -11.44%, $colorPrimary_6 123.93%);
      box-shadow: 0 4px 10px 0 $colorShadow_2;
      @include styleP("medium", $colorGreyscale_5, $font_1_regular);

      .overlay {
        border-radius: 25px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $colorGreyscale_5;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }

      p {
        padding: 15.5px 49px;
      }

      &:hover {
        box-shadow: 0px 4px 15px 0px #00000059;
        .overlay {
          opacity: 0.15;
        }
      }
    }
  }

  @include styleResponsive("desktop") {
    margin: 343px auto 0 auto;
  }
  @include styleResponsive("smaller-desktop") {
    margin: 219px auto 0 auto;
  }
}

.footer {
  display: flex;
  background-color: $colorGreyscale_2;
  gap: 16px;

  .omf-logo {
    margin-top: auto;
    width: 138px;
    height: 27px;
    font-weight: 400;
    line-height: 26px;
    @include styleH("h4", $colorGreyscale_5, $font_2_bold);
  }

  .link-container {
    margin-top: auto;
    display: flex;
    gap: 7px;

    .link {
      display: flex;
      align-items: center;
      gap: 11px;
      height: fit-content;
      line-height: 18.75px;
      @include styleP("medium", $colorGreyscale_5, $font_1_regular);

      &.style_1 {
        width: 190px;

        p {
          font-weight: 500;
        }
      }

      &.style_2 {
        width: 130px;

        p {
          font-weight: 400;
        }
      }
    }
  }

  @include styleResponsive("desktop") {
    padding: 30px 25px;
    height: 117px;
    flex-direction: row-reverse;
    flex-start: end;
  }

  @include styleResponsive("smaller-desktop") {
    padding: 22px 25px;
    flex-direction: column;

    .link-container {
      flex-direction: column;
    }
  }
}