@import "../globals.scss";

.header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: relative;
  @include styleResponsive("smaller-desktop") {
    box-shadow:0 2px 4px 0 $colorShadow_1;
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
  background-color: $colorGreyscale_4;
  @include styleH("h5", $colorGreyscale_2, $font_1_regular);
  @include styleResponsive("smaller-desktop") {
    box-shadow:0 4px 4px 0 $colorShadow_2;
  }
}

.section-title {
  font-weight: 700;
  @include styleH("h1");
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 39px 0 57px 0;
  background-color: $colorGreyscale_6;

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-weight: 700;
      @include styleH("h1");
    }
  
    .text {
      font-weight: 300;
      line-height: 21px;
      margin-bottom: auto;
      @include styleP("big", $colorGreyscale_2, $font_1_regular);
    }
  
    .cta {
      width: fit-content;
      cursor: pointer;
      padding: 15.5px 22.5px;
      border-radius: 25px;
      background: linear-gradient(193.33deg, $colorPrimary_5 -11.44%, $colorPrimary_6 123.93%);
      box-shadow: 0 4px 10px 0 $colorShadow_2;
      @include styleP("medium", $colorGreyscale_5, $font_1_regular);
    }
  }

  @include styleResponsive('wider-mobile') {
    .text-container {
    height: 179px;

      .title {
        line-height: 47px;
        margin-bottom: 18px;
      }
    }
  }

  @include styleResponsive('mobile') {
    .text-container {
      height: 191px;

    .title {
      height: 68px;
      max-width: 275px;
    }

    .text {
      max-width: 315px;
    }
    }
  }
}

.section-fonctionnement {
  display: flex;
  flex-direction: column;
  max-width: 1053px;
  margin: 0 auto;
  padding: 50px 0;
  gap: 25px;

  .title {
    @include styleH("h3");
    font-weight: 700;
  }

  .card-container {
    display: flex;

    .card {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 322px;
      margin-left: 13px;
      height: 72px;
      box-shadow: 0px 4px 15px 0px $colorShadow_1;
      border-radius: 20px;

      .number {
        position: absolute;
        display: flex;
        height: 24px;
        width: 24px;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        background-color: $colorPrimary_5;
        color: $colorGreyscale_5;
        font-family: $font_1_regular;
        font-weight: 500;
        font-size: 14px;
        transform: translateX(-12px);
      }

      i {
        margin-left: 34px;
      }

      p {
        @include styleP("medium", $colorGreyscale_1, $font_1_regular);
        font-weight: 500;
      }

      &:not(.color) {
        i {
          color: $colorGreyscale_3;
        }
      }

      &.color {
        i {
          color: $colorPrimary_5;
        }
      }
    }
  }

  @include styleResponsive("desktop") {
    .card-container {
      justify-content: space-between;

      .card {
        gap: 27px;
      }
    }
  }

  @include styleResponsive('smaller-desktop') {
    margin: 0 auto;
    padding: 48px 20px 72px 20px;

    .card-container {
      flex-direction: column;
      gap: 25px;
      width: fit-content;
      margin: 0 auto;

      .card {
        gap: 27px;
      }
    }
  }
}

.section-restaurants {
  background-color: $colorGreyscale_6;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 30px 20px;
    gap: 28px;

    .section-title {
      display: flex;
      @include styleH("h3");
    }
  
    .card-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 100px;
      row-gap: 50px;
  
      .card {
        max-width: 490px;
        max-height: 251px;
        margin: 0 auto;
        border-radius: 15px;
        overflow: hidden;
  
        .image-container {
          position: relative;
          height: 174px;
          overflow: hidden;
  
          img {
            width: 498.65px;
            object-fit: cover;
          }
          .new-tag {
            position: absolute;
            display: flex;
            top: 13px;
            right: 18px;
            width: 80px;
            padding: 6px 0;
            border-radius: 2px;
            justify-content: center;
            background-color: $colorPrimary_1;
            font-weight: 500;
            @include styleP("small", $colorPrimary_2);
          }
        }
  
        .caption {
          align-items: center;
          background-color: white;
          height: 80px;
          padding: 0 18px;
          display: flex;
          justify-content: space-between;
  
          .text-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
  
            .title {
              line-height: 21px;
              font-weight: 700;
              @include styleH("h4");
            }
  
            .restaurant-location {
              font-weight: 300;
              line-height: 20px;
              @include styleP("medium");
            }
          }
  
          i {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  background-color: $colorGreyscale_2;
  gap: 16px;

  .omf-logo {
    margin-top: auto;
    width: 138px;
    height: 27px;
    font-weight: 400;
    line-height: 26px;
    @include styleH("h4", $colorGreyscale_5, $font_2_bold);
  }

  .link-container {
    margin-top: auto;
    display: flex;
    gap: 7px;

    .link {
      display: flex;
      align-items: center;
      gap: 11px;
      height: fit-content;
      line-height: 18.75px;
      @include styleP("medium", $colorGreyscale_5, $font_1_regular);

      &.style_1 {
        width: 190px;

        p {
          font-weight: 500;
        }
      }

      &.style_2 {
        width: 130px;

        p {
          font-weight: 400;
        }
      }
    }
  }

  @include styleResponsive("desktop") {
    padding: 30px 25px;
    height: 117px;
    flex-direction: row-reverse;
    flex-start: end;
  }

  @include styleResponsive("smaller-desktop") {
    padding: 22px 25px;
    flex-direction: column;

    .link-container {
      flex-direction: column;
    }
  }
}